OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=qwen2.5:1.5b
OLLAMA_BASE_URL=http://127.0.0.1:11434/v1

APP_NAME=AI Call Center
APP_DESCRIPTION=An AI-powered Call Center Application that Leverages Advanced Language Models to Enhance Customer Interactions and Support.
APP_VERSION=1.0.0
APP_ENV=development

LIVEKIT_URL=wss://ai-call-center-11vcgwxx.livekit.cloud

DATABASE_URL=sqlite:///./data/appointments.db

KOKORO_BASE_URL=http://127.0.0.1:8880/v1
KOKORO_MODEL=kokoro
KOKORO_VOICE=af_bella
